@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  background-color: hsl(244, 38%, 16%);
  width: 280px;
  height: 650px;
  overflow: hidden;
  border-radius: 10px;
}

.card__header {
  background: hsl(267, 55%, 61%);
  overflow: hidden;
  height: 200px;
}

img {
  width: 100%;
  opacity: .4;
  object-fit: cover;
}

.text {
  padding: 1.8rem;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-size: 1.3rem;
}

.card__title--violet {
  color: hsl(277, 64%, 61%);
}

.card__summary {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: .75rem;
  line-height: 1.5;
}

.card__stats {
  color: hsla(0, 0%, 100%, 0.6);
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  margin: 1.3rem;
  font-size: .5rem;
}

.card__stats--white {
  color: hsl(0, 0%, 100%);
  display: block;
  margin-bottom: .4rem;
  font-size: 1.3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
 }

.attribution a {
  color: hsl(228, 45%, 44%);
 }
