* {
    box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 
}

img {
  width: 300px;
  padding: 1rem;
}

.card {
  background-color: hsl(244, 38%, 16%);
  width: 300px;
  height: 600px;
  padding: rem;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-size: .8rem;
}

span {
  color: hsl(277, 64%, 61%);
}

.card__summary {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: .5rem;
}

.card__stats {
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);
 }

.attribution a {
  color: hsl(228, 45%, 44%);
 }
